<h1>Listing viewings</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Agent</th>
    <th>Buyer</th>
    <th>Property</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @viewings.each do |viewing| %>
  <tr>
    <td><%= viewing.date %></td>
    <td><%= viewing.time %></td>
    <td><%= viewing.agent.first_name%></td>
    <td><%= viewing.buyer.last_name %></td>
    <td><%= viewing.property.address %></td>
    <td><%= link_to 'Show', viewing %></td>
    <td><%= link_to 'Edit', edit_viewing_path(viewing) %></td>
    <td><%= link_to 'Destroy', viewing, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Viewing', new_viewing_path %>
