<h1></h1>
    <h1><font color="#00FF00" size="+1"><marquee  direction="letf" bgcolor="black"  scrollamount="1"scrolldelay="25">Call 086-123456 to arrange a appointment or e-mail us at propertyfinders@gmail.com</marquee></font></h1> 
<dt>
<table>
  <tr>
    <th>Address</th>
    <th>No of beds</th>
    <th>Price €</th>
    <th>Photo</th>
    <th>Description</th>
    <th>Agent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.address %></td>
    <td><%= property.no_of_beds %></td>
    <td><%= property.price %></td>
    <td><%= image_tag(property.photo,:size => "50x50") %></td>
    <td><%= property.description %></td>
    <td><%= property.agent.first_name %></td>
    

    
  </tr>
<% end %>
</table>
  <dir align='right'><%= will_paginate @properties %></dir> <br>  

<br />
        
