<h1>Listing properties</h1>
    <dt>  
<table>
  <tr>
    <th>Address</th>
    <th>No of beds</th>
    <th>Price €</th>
    <th>Photo</th>
    <th>Description</th>
    <th>Agent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
   
<% @properties.each do |property| %>
  <tr>
    <td><%= property.address %></td>
    <td><%= property.no_of_beds %></td>
    <td><%= property.price %></td>
   <td><%= image_tag(property.photo,:size => "50x50") %></td>
    <td><%= property.description %></td>
    <td><%= property.agent.first_name %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
       <%= link_to 'New Property', new_property_path %> 
<%= link_to 'agents', agents_path %> 
<dir align='right'><%= will_paginate @properties %></dir> <br> 

 
  